<h1><%= @recipe.title %></h1>

<p><strong>Preparation Time:</strong> <%= @recipe.preparation_time %> hours</p>

<p>
  <strong>Public:</strong>
  <div class="form-check form-switch">
    <label class="form-check-label" for="flexSwitchCheckChecked">Toggle Public:</label>
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" <%= @recipe.public ? 'checked' : '' %>>
  </div>
</p>

<p><strong>Cooking Time:</strong> <%= @recipe.cooking_time %> hours</p>
<p><strong>Description:</strong> <%= @recipe.description %></p>

<%= link_to 'Add Ingredient', add_ingredient_recipe_path(@recipe), class: 'btn btn-primary' %>

<h2>Ingredients</h2>
<table class="table">
  <thead>
    <tr>
      <th>Food Name</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe.ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.food.name %></td>
        <td><%= "#{ingredient.quantity} #{ingredient.food.measurement_unit}" %></td>
        <td><%= "$#{ingredient.value}" %></td>
        <td>
          <%= link_to 'Edit', edit_recipe_ingredient_path(@recipe, ingredient), class: 'btn btn-warning' %>
          <%= link_to 'Remove', recipe_ingredient_path(@recipe, ingredient), method: :delete, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<script>
  $(document).ready(function() {
    $('#flexSwitchCheckChecked').change(function() {
      var publicStatus = $(this).is(':checked');
      var csrfToken = $('meta[name="csrf-token"]').attr('content');
      
      $.ajax({
        type: 'PATCH',
        url: '<%= recipe_path(@recipe) %>',
        data: { recipe: { public: publicStatus } },
        headers: { 'X-CSRF-Token': csrfToken },
        success: function(data) {
          console.log('Recipe public status updated successfully');
        },
        error: function(xhr, status, error) {
          console.error('Error updating recipe public status:', error);
        }
      });
    });
  });
</script>
