<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Include Bootstrap styles -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", "data-turbo-frame": "default" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css", integrity: "sha384-btONdVaPb5LOKJqn2+6oDR0lWKCAzr+DJEy5t9zSN1C0wRl/6K8nSkpKsIutLV+Z", crossorigin: "anonymous" %>
    
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
  </body>
</html>
